@font-face {
    font-family: 'ARCADECLASSIC';
    src: url('ARCADECLASSIC.TTF') format('truetype');
    /* Ha más típusú a font, az 'format' értékét módosítsd megfelelően */
  }

  body {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 140%;
    text-align: center;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .body_extend {
    background-image: url('brick.jpg');
    background-repeat: repeat; /* Ezzel állítod be az ismétlődést */
    background-attachment: fixed;
  }




  h1 {
    font-family: 'ARCADECLASSIC', 'Courier New', monospace; /* A saját font, majd fallback-ként a beépített Courier New és monospace */
    font-size: 300%;
    color: #55ff55;
    margin-top: 10px;
  }


  #text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  #story {
    text-align: left;
  }

  button {
    background-color: #55ffff;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    border: 3px solid #0081ba;
    cursor: pointer;
    margin: 10px;
    width: 100%;
  }

  #options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }

  #image {
    max-width: 50%;
    max-height: 50%;
    height: auto;
    width: auto;
    border: 6px solid gray;
  }

  a {
    color: gray; /* Az alapértelmezett szín a sima linkek számára */
    text-decoration: none; /* Kikapcsoljuk a hiperhivatkozások aláhúzását */
  }
  
  a:visited {
      color: gray; /* Az alapértelmezett szín a meglátogatott linkek számára */
  }
  
  a:hover,
  a:active {
      color: gray; /* Az alapértelmezett szín, amikor az egér fölött vagy a linket éppen aktívan használják */
  }

  #hangCheckbox {
    transform: scale(2); /* A méret növelése, például itt kétszeresére */
    margin: 20px;
  }

  #header, #footer {
    font-size: 50%;
    padding: 20px;
  }

